{% extends 'base.html' %}

{% block title %}
Registrar Equipo
{% endblock %}

{% block content %}

<h1 class="mb-4">Registrar Equipo</h1>

<form method="POST">

    <!-- CLIENTE -->
    <div class="mb-3">

        <label>Cliente</label>

        <select name="id_cliente" class="form-select" required>

            <option value="">
                Seleccione un cliente
            </option>

            {% for cliente in clientes %}

            <option value="{{ cliente.id_cliente }}">

                {{ cliente.nombre }}
                {{ cliente.apellido }}

            </option>

            {% endfor %}

        </select>

    </div>

    <!-- TIPO -->
    <div class="mb-3">

        <label>Tipo de Equipo</label>

        <input 
            type="text"
            name="tipo_equipo"
            class="form-control"
            required
        >

    </div>

    <!-- MARCA -->
    <div class="mb-3">

        <label>Marca</label>

        <input 
            type="text"
            name="marca"
            class="form-control"
            required
        >

    </div>

    <!-- MODELO -->
    <div class="mb-3">

        <label>Modelo</label>

        <input 
            type="text"
            name="modelo"
            class="form-control"
        >

    </div>

    <!-- SERIE -->
    <div class="mb-3">

        <label>Número de Serie</label>

        <input 
            type="text"
            name="numero_serie"
            class="form-control"
        >

    </div>

    <!-- OBSERVACIONES -->
    <div class="mb-3">

        <label>Observaciones</label>

        <textarea 
            name="observaciones"
            class="form-control"
        ></textarea>

    </div>

    <!-- ESTADO -->
    <div class="mb-3">

        <label>Estado</label>

        <select name="estado" class="form-select">

            <option value="Recibido">
                Recibido
            </option>

            <option value="En revisión">
                En revisión
            </option>

            <option value="Reparando">
                Reparando
            </option>

            <option value="Entregado">
                Entregado
            </option>

        </select>

    </div>

    <button type="submit" class="btn btn-primary">
        Guardar Equipo
    </button>

</form>
{% endblock %}